<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>url</key>
            <string>https://www.dropbox.com/scl/fi/hnn627p21gaftlox41fsr/ESign_5.0.2_1742544243.ipa?rlkey=noxisx7jwnoblle48j8gf8dgw&st=aptlxvba&dl=1</string> <!-- Dropboxの正しいURL -->
            <key>kind</key>
            <string>software-package</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>p3.xyz.yyyue.esing</string> <!-- アプリの識別子 -->
          <key>bundle-version</key>
          <string>5.0.2</string> <!-- アプリのバージョン -->
          <key>kind</key>
          <string>software</string>
          <key>platform-identifier</key>
          <string>com.apple.platform.iphoneos</string>
          <key>title</key>
          <string>esing</string> <!-- アプリ名 -->
        </dict>
      </dict>
    </array>
  </dict>
</plist>
